#main-content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 122px;
    margin-right: 64px;
}
.friends-section{
    display: flex;
}
.mes-amis{
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: var(--couleur-grey-hex);
    border-radius: 30px;
    padding: 20px;
    width: 24vw;
    height: 48vh;
}
.mes-amis h2{
    color: var(--couleur-white-hex);
}


/* SEARCH BAR */
.mes-amis form{
    display: flex;
    align-items: center;
    position: relative;
}
.mes-amis form svg{
    z-index: 10;
    position: absolute;
    left: 3%;
    color: var(--couleur-black-hex);
    
}
.mes-amis form input{
    width: 100%;
    height: 42px;
    border-radius: 50px;
    border: none;
    text-indent: 40px;
}
.mes-amis form input:focus{
    outline: none;
}
.mes-amis form input::placeholder{
    color: var(--couleur-grey-hex);
    font-size: 1rem;
    font-family: 'Rubik', sans-serif;
}

.friend-list{
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow: scroll;
}
.friend{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    background-color: var(--couleur-white-hex);
    border-radius: 30px;
}
.friend h4{
    font-weight: 500;
    color: var(--couleur-black-hex);
}
.friend img{
    width: 40px;
    height: 47px;
}





.friend-detail{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
.friend-detail .contact-info img{
    width: 110px;
    height: 127px;
}
.friend-detail .contact-info{
    display: flex;
}

.friend-detail .contact-info .rewards{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.friend-detail .contact-info .rewards img{
    height: 20px;
    width: 20px;
}
.friend-detail .contact-info .tropheys, .friend-detail .contact-info .chrysalide-pts{
    display: flex;
    align-items: center;
    justify-content: center;
}

.friend-info{
    display: flex;
    padding: 20px;
    width: 35vw;
    align-items: center;
}
.contact-info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    padding: 12px;
}
.contact-info .contact{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.contact-info .contact .status{
    color: var(--couleur-green-hex);
}
.contact-info .contact h4{
    color: var(--couleur-white-hex);
}
.contact-info .contact .pays{
    display: flex;
    align-items: center;
    color: var(--couleur-grey-hex);
}
.contact-info .contact .pays img{
    height: 20px;
    width: 20px;
}
.friend-detail .friend-btns{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.friend-detail .friend-btns button{
    padding: 10px 16px;
    border-radius: 30px;
    border: none;
    outline: none;
    color: var(--couleur-white-hex);

}
.request-f{
    background-color: var(--couleur-bleu-hex);
}
.msg{
    background-color: var(--couleur-grey-hex); 
}
.team-info{
    display: flex;
    flex-direction: column;
    width: 35vw;
    padding: 20px;
    gap: 18px;
    color: var(--couleur-white-hex);

}
.team-list{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.team-list img{
    width: 40%;
    height: auto;
}
.team-list .teams{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    color: var(--couleur-white-hex);
}






