/* IMPORT FONT */

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* BODY */

body{
    font-family: 'Rubik', sans-serif;
    margin: 0 auto;
    background-color: var(--couleur-black-hex);
    width: 100%;
}

/* VARIABLES */

:root{
    --couleur-bleu-hex: #3E7BFA;
    --couleur-red-hex: #FF3B3B;
    --couleur-green-hex: #06C270;
    --couleur-orange-hex: #FF8800;
    --couleur-yellow-hex: #FFCC00;
    --couleur-turquoise-hex: #00CFDE;
    --couleur-purple-hex: #6600CC;
    --couleur-white-hex: #F2F2F5;
    --couleur-grey-hex: #555770;
    --couleur-black-hex: #1C1C28;
    --couleur-lightgrey-rgba: rgba(85, 87, 112, 0.05);
    font-size: 16px;
    
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

h1{
    font-weight: 600;
    font-size: 4rem;
}
h2{
    font-weight: 500;
    font-size: 2.5rem;
}
h3{
    font-weight: 700;
    font-size: 2.25rem;
}
h4{
    font-weight: 400;
    font-size: 1.5rem;
}
h5{
    font-weight: 500;
    font-size: 1.25rem;
}
h6{
    font-weight: 500;
    font-size: 1rem;
}

/* HEADER */

header{
    margin: auto 0;
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--couleur-black-hex);
    gap: 29px;
}

header #header-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 5px;
    margin-left: 64px;
}

header #header-logo img{
    width: 100%;
}

header #header-logo h5{
    color: var(--couleur-white-hex);
}

header #header-input-profil{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

header #header-input-profil #header-input-buttons {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 25px;
    width: 75%;
    margin-left: 120px;
}

header #header-input-profil #header-input-buttons form{
    display: flex;
    align-items: center;
    position: relative;
    width: 30%;

}
/* img/search.svg */
header #header-input-profil #header-input-buttons form svg{
    z-index: 10;
    position: absolute;
    left: 3%;
    color: var(--couleur-black-hex);
    
}

header #header-input-profil #header-input-buttons form input{
    width: 100%;
    height: 42px;
    border-radius: 50px;
    border: 1px solid rgba(0, 0, 0, 0);
    text-indent: 40px;
}

header #header-input-profil #header-input-buttons form input::placeholder{
    color: var(--couleur-grey-hex);
    font-size: 1rem;
    font-family: 'Rubik', sans-serif;


}

header #header-input-profil #header-input-buttons #header-buttons{
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    width: 20%;

}

header #header-input-profil #header-input-buttons #header-buttons a{
    text-decoration: none; 
    color: var(--couleur-white-hex);
    display: inline-block;
    position: relative;
    display: flex;
    align-items: center;
}

header #header-input-profil #header-input-buttons #header-buttons a::after, header #header-input-profil #header-input-buttons #header-buttons a::before{
    content: '';
    position: absolute;
    background-color: var(--couleur-white-hex);
    width: 120%;
    height: 10px;
    bottom: 75.5px;  
    border-radius: 50px;
    transform: scaleX(0);
}

header #header-input-profil #header-input-buttons #header-buttons a::after{
    left: 0;
}

header #header-input-profil #header-input-buttons #header-buttons a::before{
    right: 0;
}

header #header-input-profil #header-input-buttons #header-buttons a:hover::after,header #header-input-profil #header-input-buttons #header-buttons a:hover::before{
    transform: scaleX(1);
    
}

header #header-input-profil #header-profil{
    margin-right: 64px;
}

/* ASIDE */

aside{
    margin-top: 25px;
    background-color: var(--couleur-black-hex);
    max-width: 307px;
    height: 80vh;
    color: var(--couleur-white-hex);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



aside #aside-main-buttons{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-self: flex-start;
}

aside #aside-main-buttons a{
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 307px;
    text-decoration: none;
    color: var(--couleur-white-hex);
    background-color: var(--couleur-lightgrey-rgba);
    border-radius: 0 50px 50px 0 ;
    padding: 8px 0;
    padding-left: 21% ;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
}

aside #aside-main-buttons a::before{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
}

aside #aside-main-buttons a::before{
    background-color: var(--couleur-grey-hex);
    z-index: -1;
    transition: opacity 250ms linear;
    opacity: 0;
}

aside #aside-main-buttons a:hover::before{
    opacity: 1;
}

aside #aside-other-buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-self: flex-end;
}

aside #aside-other-buttons a{
    display: flex;
    align-items: center;
    padding-left: 21%;
    gap: 10px;
    text-decoration: none;
    color: var(--couleur-white-hex);
}

