/* MAIN MESSAGERIE */
#main-content-messagerie {
    /* width: 100%;
    padding-right: 64px;
    margin-bottom: 60px; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;
    margin: 50px 64px 0 0;
}

#main-content-messagerie .head-messagerie {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--couleur-grey-hex);
    border-radius: 30px;
    padding: 20px 70px;
}

#main-content-messagerie .head-messagerie h1{
    color: var(--couleur-white-hex);
}

#main-content-messagerie .head-messagerie span{
    color: var(--couleur-bleu-hex);
    display: block;
    text-align: center;
    font-family: 'Lalezar';
}

#main-content-messagerie .head-messagerie img {
    width: 50%;
    height: auto;
}

#main-content-messagerie .messagerie-contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
    height: 74vh;
}

#main-content-messagerie .chat-messagerie {
    background-color: var(--couleur-pure-white-hex);
    border-radius: 30px;
    padding: 30px;
    width: 45vw;
    height: 100%;
}

#main-content-messagerie .chat-messagerie .list-messages {
    height: 85%;
    /* padding-bottom: 15px; */
    overflow: scroll;
}

#main-content-messagerie .list-messages::-webkit-scrollbar {
    display: none;
}

#main-content-messagerie .chat-messagerie .messages {
    display: flex;
    align-items: center;
}

/* #main-content-messagerie .chat-messagerie .msg-destinataire {
    justify-content: flex-end;
} */

#main-content-messagerie .chat-messagerie .messages:not(:last-child) {
    margin-bottom: 30px;
}

#main-content-messagerie .chat-messagerie .messages .time {
    color: var(--couleur-grey-hex);
}

#main-content-messagerie .chat-messagerie .messages .outside-message {
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding: 10px 25px;
    width: 35vw;
}

#main-content-messagerie .chat-messagerie .messages .outside-message img {
    width: 30px;
}

#main-content-messagerie .chat-messagerie .messages .msg-bleu-fonce {
    background-color: var(--couleur-bleu-hex);
    margin-left: 40px;
}

#main-content-messagerie .chat-messagerie .messages .msg-bleu-ciel {
    background-color: var(--couleur-lightblue-rbga);
    margin-right: 30px;
}

#main-content-messagerie .chat-messagerie .messages .outside-message .inside-message {
    margin-left: 15px;
    color: var(--couleur-white-hex);
}

#main-content-messagerie .chat-messagerie .text-input {
    height: 15%;
}

#main-content-messagerie .chat-messagerie .text-input form {
    position: relative;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

#main-content-messagerie .chat-messagerie .text-input form input {
    border: var(--couleur-bleu-hex) solid 3px;
    border-radius: 30px;
    height: 20%;
    width: 100%;
    /* height: 13vh; */
    /* a verifier pour la height */
    outline: none;
    padding: 10px 60px 20px 10px;
    resize: none;
}

#main-content-messagerie .text-input form #answer-txt::-webkit-scrollbar {
    display: none;
}

#main-content-messagerie .chat-messagerie .text-input form button {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: var(--couleur-bleu-hex);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    /* margin: auto */
}

#main-content-messagerie .chat-messagerie .text-input button img {
    padding: 5px 1px;
    margin: auto;
    display: block;
    width: 70%;
}

/* CONTACT EN COURS */
#main-content-messagerie .mes-amis{
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: var(--couleur-bleu-hex);
    border-radius: 30px;
    padding: 20px;
    width: 26vw;
    height: 100%;
}

#main-content-messagerie .mes-amis h2{
    color: var(--couleur-pure-white-hex);
    text-align: center;
}


/* SEARCH BAR */
.mes-amis form{
    display: flex;
    align-items: center;
    position: relative;
}
.mes-amis form svg{
    z-index: 10;
    position: absolute;
    left: 3%;
    color: var(--couleur-black-hex);
}
.mes-amis form input{
    width: 100%;
    height: 42px;
    border-radius: 50px;
    border: none;
    text-indent: 40px;
}
.mes-amis form input:focus{
    outline: none;
}
.mes-amis form input::placeholder{
    color: var(--couleur-grey-hex);
    font-size: 1rem;
    font-family: 'Rubik', sans-serif;
}
#main-content-messagerie .mes-amis form img {
    background-color: var(--couleur-pure-white-hex);
    padding: 9px;
    border-radius: 15px;
    margin-left: 22px;
    cursor: pointer;
}
.friend-list{
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow: scroll;
}

.friend-list::-webkit-scrollbar {
    width: 5px;
    height: 100%;
}

.friend-list::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: var(--couleur-white-hex);
    border: 3px solid var(--couleur-white-hex);
}

.friend{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    margin-right: 10px;
    background-color: var(--couleur-white-hex);
    border-radius: 30px;
}
.friend h4{
    font-weight: 500;
    color: var(--couleur-black-hex);
}
.friend img{
    width: 40px;
    height: 47px;
}
