/* MAIN MESSAGERIE */
#main-content-messagerie {
    width: 100%;
    padding-right: 64px;
    margin-bottom: 60px;
}

#main-content-messagerie .head-messagerie {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--couleur-grey-hex);
    border-radius: 30px;
    padding: 20px 70px;
}

#main-content-messagerie .head-messagerie h1{
    color: var(--couleur-white-hex);
}

#main-content-messagerie .head-messagerie span{
    color: var(--couleur-bleu-hex);
    display: block;
    text-align: center;
    font-family: 'Lalezar';
}

#main-content-messagerie .head-messagerie img {
    width: 50%;
    height: auto;
}

#main-content-messagerie .messagerie-contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

#main-content-messagerie .chat-messagerie {
    background-color: var(--couleur-pure-white-hex);
    border-radius: 30px;
    padding: 30px;
    width: 45vw;
    height: 74vh;
}

#main-content-messagerie .chat-messagerie .list-messages {
    height: 50vh;
    padding-bottom: 15px;
    overflow: scroll;
}

#main-content-messagerie .list-messages::-webkit-scrollbar {
    display: none;
}

#main-content-messagerie .chat-messagerie .messages {
    display: flex;
    align-items: center;
}

#main-content-messagerie .chat-messagerie .msg-first-user {
    justify-content: flex-end;
}

#main-content-messagerie .chat-messagerie .messages:not(:last-child) {
    margin-bottom: 30px;
}

#main-content-messagerie .chat-messagerie .messages .time {
    color: var(--couleur-grey-hex);
}

#main-content-messagerie .chat-messagerie .messages .outside-message {
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding: 10px 25px;
    width: 35vw;
}

#main-content-messagerie .chat-messagerie .messages .msg-marc {
    background-color: var(--couleur-bleu-hex);
    margin-left: 40px;
}

#main-content-messagerie .chat-messagerie .messages .msg-alonso {
    background-color: var(--couleur-lightblue-rbga);
    margin-right: 30px;
}

#main-content-messagerie .chat-messagerie .messages .outside-message .inside-message {
    margin-left: 15px;
    color: var(--couleur-white-hex);
}

#main-content-messagerie .chat-messagerie .text-input {
    position: relative;
}

#main-content-messagerie .chat-messagerie .text-input textarea {
    border: var(--couleur-bleu-hex) solid 3px;
    border-radius: 30px;
    width: 100%;
    outline: none;
    padding: 10px 60px 20px 10px;
    resize: none;
}

#main-content-messagerie .text-input textarea::-webkit-scrollbar {
    display: none;
}

#main-content-messagerie .chat-messagerie .text-input img {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: var(--couleur-bleu-hex);
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    width: 8%;
}

/* CONTACT EN COURS */
#main-content-messagerie .mes-amis{
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: var(--couleur-bleu-hex);
    border-radius: 30px;
    padding: 20px;
    width: 26vw;
    height: 74vh;
}

#main-content-messagerie .mes-amis h2{
    color: var(--couleur-pure-white-hex);
    text-align: center;
}


/* SEARCH BAR */
.mes-amis form{
    display: flex;
    align-items: center;
    position: relative;
}
.mes-amis form svg{
    z-index: 10;
    position: absolute;
    left: 3%;
    color: var(--couleur-black-hex);
}
.mes-amis form input{
    width: 100%;
    height: 42px;
    border-radius: 50px;
    border: none;
    text-indent: 40px;
}
.mes-amis form input:focus{
    outline: none;
}
.mes-amis form input::placeholder{
    color: var(--couleur-grey-hex);
    font-size: 1rem;
    font-family: 'Rubik', sans-serif;
}
#main-content-messagerie .mes-amis form img {
    background-color: var(--couleur-pure-white-hex);
    padding: 9px;
    border-radius: 15px;
    margin-left: 22px;
    cursor: pointer;
}
.friend-list{
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow: scroll;
}
.friend-list::-webkit-scrollbar {
    display: none;
}
.friend{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    background-color: var(--couleur-white-hex);
    border-radius: 30px;
}
.friend h4{
    font-weight: 500;
    color: var(--couleur-black-hex);
}
.friend img{
    width: 40px;
    height: 47px;
}


