body{
    background: var(--couleur-black-hex);
    margin: auto 64px;
}
a{
    color: #fff;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    padding: 30px 0;
}
header form{
    display: flex;
    align-items: center;
}
header input{
    border-radius: 30px;
    padding: 12px;
    width: 20vw;
}
header input::placeholder{
    margin-left: 30px;
}




.side-bar{
    display: flex;
    flex-direction: column;
    width: 18vw;
    height: 88vh;
}
.side-bar a{
    display: flex;
    align-items: center;
    gap: 20px;
    background: var( --couleur-lightgrey-rgba);
}
